body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    margin-top:2px;
    border: none;
    background-color: rgb(41, 173, 225);
    color: white;
    width: 100px;
    height: 50px;
}

button:hover{
cursor: pointer;
background-color: rgb(19, 153, 206);
letter-spacing: 2px;
transition: all 1s;
}


.principal{
    background-color: rgb(245, 244, 244);
    margin: auto;
    padding: 15px;
    width: 800px;
    height: auto;
    box-shadow: 0px 0px 10px #333;
    border-radius: 0.5em;
}

.principal h1{
    text-align: center;
}

.form{
    display: inline-flex;
}


.from-inputs{
    padding: 15px;
    width: 450px;

}

.from-inputs input{
    width: 75px;
}

.form-botones{

    text-align: center;
    padding: 15px;
    width: 30%;
    float: right;
}

.resultados{
    display: inline-flex;
}

.divResul{
    text-align: center;
    width: 75px;
}

.divNivel{
    text-align: center;
    width: 200px;
}

.promedio{
    text-align: center;
}
